{% extends "::base.html.twig" %}
{% block body %}
<h2>{{ queue.name }}</h2>
{% if inQueue %}
<a class="button" href="{{ path('queue_add_entry', {queueId: queue.id}) }}">Add entry</a>
{% else %}
<a class="button" href="{{ path('queue_join', {queueId: queue.id}) }}">Join queue</a>
{% endif %}
<div id="queue-entries">
    {% for entry in entries %}
    <div class="queue-entry">
        <h4 class="queue-entry-user">{{ entry.user.username }}</h4>
        {% if (entry.user.username == app.user.username and loop.index == 1) or is_granted('ROLE_ADMIN') %}
        <a class="complete" href="{{ path('queue_complete_entry', {queueId: queue.id, entryId: entry.id}) }}">Complete</a>
        {% endif %}
    </div>
    {% else %}
    <div class="queue-entry">
        <h4 class="queue-entry-user">Niemand</h4>
    </div>
    {% endfor %}
</div>
{% endblock %}